<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>512</integer>
		<key>height</key>
		<integer>128</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>num1a.png</key>
		<dict>
			<key>x</key>
			<integer>14</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>20</integer>
			<key>height</key>
			<integer>41</integer>
			<key>offsetX</key>
			<real>-3</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>num1b.png</key>
		<dict>
			<key>x</key>
			<integer>35</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>20</integer>
			<key>height</key>
			<integer>41</integer>
			<key>offsetX</key>
			<real>-3</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>num1c.png</key>
		<dict>
			<key>x</key>
			<integer>56</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>20</integer>
			<key>height</key>
			<integer>41</integer>
			<key>offsetX</key>
			<real>-3</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>num2a.png</key>
		<dict>
			<key>x</key>
			<integer>85</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>29</integer>
			<key>height</key>
			<integer>42</integer>
			<key>offsetX</key>
			<real>2.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>num2b.png</key>
		<dict>
			<key>x</key>
			<integer>115</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>29</integer>
			<key>height</key>
			<integer>42</integer>
			<key>offsetX</key>
			<real>2.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>num2c.png</key>
		<dict>
			<key>x</key>
			<integer>145</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>29</integer>
			<key>height</key>
			<integer>42</integer>
			<key>offsetX</key>
			<real>2.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>num3a.png</key>
		<dict>
			<key>x</key>
			<integer>188</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>28</integer>
			<key>height</key>
			<integer>43</integer>
			<key>offsetX</key>
			<real>2</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>num3b.png</key>
		<dict>
			<key>x</key>
			<integer>217</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>28</integer>
			<key>height</key>
			<integer>43</integer>
			<key>offsetX</key>
			<real>2</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>num3c.png</key>
		<dict>
			<key>x</key>
			<integer>246</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>28</integer>
			<key>height</key>
			<integer>43</integer>
			<key>offsetX</key>
			<real>2</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>num4a.png</key>
		<dict>
			<key>x</key>
			<integer>288</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>31</integer>
			<key>height</key>
			<integer>41</integer>
			<key>offsetX</key>
			<real>2.5</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>num4b.png</key>
		<dict>
			<key>x</key>
			<integer>320</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>31</integer>
			<key>height</key>
			<integer>41</integer>
			<key>offsetX</key>
			<real>2.5</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>num4c.png</key>
		<dict>
			<key>x</key>
			<integer>352</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>31</integer>
			<key>height</key>
			<integer>41</integer>
			<key>offsetX</key>
			<real>2.5</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>num5a.png</key>
		<dict>
			<key>x</key>
			<integer>399</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>28</integer>
			<key>height</key>
			<integer>42</integer>
			<key>offsetX</key>
			<real>2</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>num5b.png</key>
		<dict>
			<key>x</key>
			<integer>428</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>28</integer>
			<key>height</key>
			<integer>42</integer>
			<key>offsetX</key>
			<real>2</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>num5c.png</key>
		<dict>
			<key>x</key>
			<integer>457</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>28</integer>
			<key>height</key>
			<integer>42</integer>
			<key>offsetX</key>
			<real>2</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>num6a.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>45</integer>
			<key>width</key>
			<integer>30</integer>
			<key>height</key>
			<integer>42</integer>
			<key>offsetX</key>
			<real>3</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>num6b.png</key>
		<dict>
			<key>x</key>
			<integer>32</integer>
			<key>y</key>
			<integer>45</integer>
			<key>width</key>
			<integer>30</integer>
			<key>height</key>
			<integer>42</integer>
			<key>offsetX</key>
			<real>3</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>num6c.png</key>
		<dict>
			<key>x</key>
			<integer>63</integer>
			<key>y</key>
			<integer>45</integer>
			<key>width</key>
			<integer>30</integer>
			<key>height</key>
			<integer>42</integer>
			<key>offsetX</key>
			<real>3</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>num7a.png</key>
		<dict>
			<key>x</key>
			<integer>107</integer>
			<key>y</key>
			<integer>45</integer>
			<key>width</key>
			<integer>29</integer>
			<key>height</key>
			<integer>41</integer>
			<key>offsetX</key>
			<real>3.5</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>num7b.png</key>
		<dict>
			<key>x</key>
			<integer>137</integer>
			<key>y</key>
			<integer>45</integer>
			<key>width</key>
			<integer>29</integer>
			<key>height</key>
			<integer>41</integer>
			<key>offsetX</key>
			<real>3.5</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>num7c.png</key>
		<dict>
			<key>x</key>
			<integer>167</integer>
			<key>y</key>
			<integer>45</integer>
			<key>width</key>
			<integer>29</integer>
			<key>height</key>
			<integer>41</integer>
			<key>offsetX</key>
			<real>3.5</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>num8a.png</key>
		<dict>
			<key>x</key>
			<integer>210</integer>
			<key>y</key>
			<integer>45</integer>
			<key>width</key>
			<integer>30</integer>
			<key>height</key>
			<integer>43</integer>
			<key>offsetX</key>
			<real>3</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>num8b.png</key>
		<dict>
			<key>x</key>
			<integer>241</integer>
			<key>y</key>
			<integer>45</integer>
			<key>width</key>
			<integer>30</integer>
			<key>height</key>
			<integer>43</integer>
			<key>offsetX</key>
			<real>3</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>num8c.png</key>
		<dict>
			<key>x</key>
			<integer>272</integer>
			<key>y</key>
			<integer>45</integer>
			<key>width</key>
			<integer>30</integer>
			<key>height</key>
			<integer>43</integer>
			<key>offsetX</key>
			<real>3</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>num9a.png</key>
		<dict>
			<key>x</key>
			<integer>316</integer>
			<key>y</key>
			<integer>45</integer>
			<key>width</key>
			<integer>29</integer>
			<key>height</key>
			<integer>42</integer>
			<key>offsetX</key>
			<real>2.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>num9b.png</key>
		<dict>
			<key>x</key>
			<integer>346</integer>
			<key>y</key>
			<integer>45</integer>
			<key>width</key>
			<integer>29</integer>
			<key>height</key>
			<integer>42</integer>
			<key>offsetX</key>
			<real>2.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>num9c.png</key>
		<dict>
			<key>x</key>
			<integer>376</integer>
			<key>y</key>
			<integer>45</integer>
			<key>width</key>
			<integer>29</integer>
			<key>height</key>
			<integer>42</integer>
			<key>offsetX</key>
			<real>2.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>num0s.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>12</integer>
			<key>height</key>
			<integer>20</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>23</integer>
			<key>originalHeight</key>
			<integer>23</integer>
		</dict>
		<key>num1s.png</key>
		<dict>
			<key>x</key>
			<integer>77</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>7</integer>
			<key>height</key>
			<integer>18</integer>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>23</integer>
			<key>originalHeight</key>
			<integer>23</integer>
		</dict>
		<key>num2s.png</key>
		<dict>
			<key>x</key>
			<integer>175</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>12</integer>
			<key>height</key>
			<integer>19</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>1</real>
			<key>originalWidth</key>
			<integer>23</integer>
			<key>originalHeight</key>
			<integer>23</integer>
		</dict>
		<key>num3s.png</key>
		<dict>
			<key>x</key>
			<integer>275</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>12</integer>
			<key>height</key>
			<integer>20</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>23</integer>
			<key>originalHeight</key>
			<integer>23</integer>
		</dict>
		<key>num4s.png</key>
		<dict>
			<key>x</key>
			<integer>384</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>14</integer>
			<key>height</key>
			<integer>18</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>23</integer>
			<key>originalHeight</key>
			<integer>23</integer>
		</dict>
		<key>num5s.png</key>
		<dict>
			<key>x</key>
			<integer>486</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>12</integer>
			<key>height</key>
			<integer>19</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>23</integer>
			<key>originalHeight</key>
			<integer>23</integer>
		</dict>
		<key>num6s.png</key>
		<dict>
			<key>x</key>
			<integer>94</integer>
			<key>y</key>
			<integer>45</integer>
			<key>width</key>
			<integer>12</integer>
			<key>height</key>
			<integer>19</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>23</integer>
			<key>originalHeight</key>
			<integer>23</integer>
		</dict>
		<key>num7s.png</key>
		<dict>
			<key>x</key>
			<integer>197</integer>
			<key>y</key>
			<integer>45</integer>
			<key>width</key>
			<integer>12</integer>
			<key>height</key>
			<integer>18</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>23</integer>
			<key>originalHeight</key>
			<integer>23</integer>
		</dict>
		<key>num8s.png</key>
		<dict>
			<key>x</key>
			<integer>303</integer>
			<key>y</key>
			<integer>45</integer>
			<key>width</key>
			<integer>12</integer>
			<key>height</key>
			<integer>20</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>23</integer>
			<key>originalHeight</key>
			<integer>23</integer>
		</dict>
		<key>num9s.png</key>
		<dict>
			<key>x</key>
			<integer>406</integer>
			<key>y</key>
			<integer>45</integer>
			<key>width</key>
			<integer>12</integer>
			<key>height</key>
			<integer>19</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>1</real>
			<key>originalWidth</key>
			<integer>23</integer>
			<key>originalHeight</key>
			<integer>23</integer>
		</dict>
	</dict>
</dict>
</plist>